<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Language" content="en-us" />
  <meta http-equiv="imagetoolbar" content="false" />
  <meta name="MSSmartTagsPreventParsing" content="true" />
  <title><%= @item[:title] %></title>
  <link rel="alternate" type="application/atom+xml" title="API Changes" href="/changes.atom" />
  <link href="/css/reset.css" rel="stylesheet" type="text/css" />
  <link href="/css/960.css" rel="stylesheet" type="text/css" />
  <link href="/css/uv_active4d.css" rel="stylesheet" type="text/css" />
  <link href="/shared/css/documentation.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/shared/css/pygments.css" media="screen" rel="stylesheet" type="text/css">
  <script src="/shared/js/jquery.js" type="text/javascript"></script>
  <script src="/shared/js/documentation.js" type="text/javascript"></script>
</head>
<body class="api">
    <div id="header-wrapper">
      <div id="header">
        <div>
          <a class="logo" href="/" style="font-size: 2em;">API v1.0</a>
          <!--a class="logo" href="/"><img src="/images/logo_developer.png" width="255" height="45" alt="GitHub:Developer" /></a-->
          <ul class="nav">
            <li class="api-status"></li>
            <li><a href="/v3/">API v1.0</a></li>
            <!--li><a href="/changes/">Changes</a></li>
            <li><a
              href="https://github.com/contact">Support</a></li>
            <li><a href="/changes.atom">
              <img src="/images/feed-icon-28x28.png" width="16" height="16" alt="GitHub API Changes Feed" />
            </a></li-->
          </ul>
        </div>
      </div><!-- #header -->
    </div><!-- #header-wrapper -->

    <div id="wrapper">
      <div class="content">
    <%= yield %>
      </div>

    <div id="js-sidebar" class="sidebar-shell">
      <div class="js-toggle-list sidebar-module expandable">
        <ul>
          <li class="js-topic">
            <h3><a href="#" class="js-expand-btn collapsed">&nbsp;</a><a href="/v3/">Обзор</a></h3>
            <ul class="js-guides">
              <li><a href="/v3/auth/">Авторизация</a></li>
              <!--li><a href="/v3/oauth/">OAuth</a></li>
              <li><a href="/v3/media/">Media Types</a></li>
              <li><a href="/v3/libraries/">Libraries</a></li-->
            </ul>
          </li>
          <!--li class="js-topic">
            <h3><a href="#" class="js-expand-btn collapsed">&nbsp;</a><a href="/v3/activity/">Activity</a></h3>
            <ul class="js-guides">
              <li><a href="/v3/activity/events/">Events</a></li>
              <li><a href="/v3/activity/events/types/">Event Types</a></li>
              <li><a href="/v3/activity/notifications/">Notifications</a></li>
              <li><a href="/v3/activity/starring/">Starring</a></li>
              <li><a href="/v3/activity/watching/">Watching</a></li>
            </ul>
          </li>
          <li class="js-topic">
            <h3><a href="#" class="js-expand-btn collapsed">&nbsp;</a><a href="/v3/gists/">Gists</a></h3>
            <ul class="js-guides">
              <li><a href="/v3/gists/comments/">Comments</a></li>
            </ul>
          </li>
          <li class="js-topic">
            <h3><a href="#" class="js-expand-btn collapsed">&nbsp;</a><a href="/v3/git/">Git Data</a></h3>
            <ul class="js-guides">
              <li><a href="/v3/git/blobs/">Blobs</a></li>
              <li><a href="/v3/git/commits/">Commits</a></li>
              <li><a href="/v3/git/refs/">References</a></li>
              <li><a href="/v3/git/tags/">Tags</a></li>
              <li><a href="/v3/git/trees/">Trees</a></li>
            </ul>
          </li>
          <li class="js-topic">
            <h3><a href="#" class="js-expand-btn collapsed">&nbsp;</a><a href="/v3/issues/">Issues</a></h3>
            <ul class="js-guides">
              <li><a href="/v3/issues/assignees/">Assignees</a></li>
              <li><a href="/v3/issues/comments/">Comments</a></li>
              <li><a href="/v3/issues/events/">Events</a></li>
              <li><a href="/v3/issues/labels/">Labels</a></li>
              <li><a href="/v3/issues/milestones/">Milestones</a></li>
            </ul>
          </li>
          <li class="js-topic">
            <h3><a href="#" class="js-expand-btn collapsed">&nbsp;</a><a href="/v3/orgs/">Orgs</a></h3>
            <ul class="js-guides">
              <li><a href="/v3/orgs/members/">Members</a></li>
              <li><a href="/v3/orgs/teams/">Teams</a></li>
            </ul>
          </li>
          <li class="js-topic">
            <h3><a href="#" class="js-expand-btn collapsed">&nbsp;</a><a href="/v3/pulls/">Pull Requests</a></h3>
            <ul class="js-guides">
              <li><a href="/v3/pulls/comments/">Review Comments</a></li>
            </ul>
          </li>
          <li class="js-topic">
            <h3><a href="#" class="js-expand-btn collapsed">&nbsp;</a><a href="/v3/repos/">Repositories</a></h3>
            <ul class="js-guides">
              <li><a href="/v3/repos/collaborators/">Collaborators</a></li>
              <li><a href="/v3/repos/comments/">Comments</a></li>
              <li><a href="/v3/repos/commits/">Commits</a></li>
              <li><a href="/v3/repos/contents/">Contents</a></li>
              <li><a href="/v3/repos/downloads/">Downloads</a></li>
              <li><a href="/v3/repos/forks/">Forks</a></li>
              <li><a href="/v3/repos/keys/">Keys</a></li>
              <li><a href="/v3/repos/hooks/">Hooks</a></li>
              <li><a href="/v3/repos/merging/">Merging</a></li>
              <li><a href="/v3/repos/statuses/">Statuses</a></li>
            </ul>
          </li-->
          <li class="js-topic">
            <h3><a href="#" class="js-expand-btn collapsed">&nbsp;</a><a href="/v3/accounts/">Пользователи</a></h3>
            <ul class="js-guides">
              <li><a href="/v3/accounts/systems/">Системы</a></li>
              <!--li><a href="/v3/accounts/emails/">Emails</a></li>
              <li><a href="/v3/accounts/followers/">Followers</a></li>
              <li><a href="/v3/accounts/keys/">Keys</a></li-->
            </ul>
          </li>
          <li class="js-topic">
            <h3><a href="#" class="js-expand-btn collapsed">&nbsp;</a><a href="/v3/systems/">Системы</a></h3>
            <ul class="js-guides">
              <li><a href="/v3/systems/params/">Параметры</a></li>
              <li><a href="/v3/systems/logs/">Отладочные события</a></li>
              <!--li><a href="/v3/accounts/emails/">Emails</a></li>
              <li><a href="/v3/accounts/followers/">Followers</a></li>
              <li><a href="/v3/accounts/keys/">Keys</a></li-->
            </ul>
          </li>
          <li class="js-topic">
            <h3><a href="#" class="js-expand-btn collapsed">&nbsp;</a><a href="/v3/geo/">GEO-данные</a></h3>
            <ul class="js-guides">
              <li><a href="/v3/geo/hours/">Получение данных об активности</a></li>
              <li><a href="/v3/geo/get/">Получение сырых данных</a></li>
              <!--li><a href="/v3/accounts/emails/">Emails</a></li>
              <li><a href="/v3/accounts/followers/">Followers</a></li>
              <li><a href="/v3/accounts/keys/">Keys</a></li-->
            </ul>
          </li>
          <li class="js-topic">
            <h3><a href="#" class="js-expand-btn collapsed">&nbsp;</a><a href="/v3/admin/">Администрирование</a></h3>
            <ul class="js-guides">
              <li><a href="/v3/admin/groups/">Группы пользователей</a></li>
              <li><a href="/v3/admin/users/">Пользователи</a></li>
              <li><a href="/v3/admin/systems/">Системы</a></li>
              <!--li><a href="/v3/accounts/emails/">Emails</a></li>
              <li><a href="/v3/accounts/followers/">Followers</a></li>
              <li><a href="/v3/accounts/keys/">Keys</a></li-->
            </ul>
          </li>

          <li class="js-topic">
            <h3><a href="#" class="js-expand-btn collapsed">&nbsp;</a><a href="/v3/point/">Получение данных с трекеров</a></h3>
            <ul class="js-guides">
              <li><a href="/v3/point/bingps/">Получение GPS данных</a></li>
              <li><a href="/v3/point/config/">Конфигурирование</a></li>
              <li><a href="/v3/point/alarm/">Тревожная кнопка</a></li>
              <li><a href="/v3/point/fwupdate/">Обновление ПО</a></li>
              <li><a href="/v3/point/addlog/">События отладки</a></li>
              <!--li><a href="/v3/accounts/emails/">Emails</a></li>
              <li><a href="/v3/accounts/followers/">Followers</a></li>
              <li><a href="/v3/accounts/keys/">Keys</a></li-->
            </ul>
          </li>

          <li class="js-topic">
            <h3><a href="#" class="js-expand-btn collapsed">&nbsp;</a><a href="/v3/websocket/">Обновление ресурсов</a></h3>
            <ul class="js-guides">
              <!-- <li><a href="/v3/point/addlog/">События отладки</a></li> -->
              <!--li><a href="/v3/accounts/emails/">Emails</a></li>
              <li><a href="/v3/accounts/followers/">Followers</a></li>
              <li><a href="/v3/accounts/keys/">Keys</a></li-->
            </ul>
          </li>

          <!--li class="js-topic">
            <h3><a href="#" class="js-expand-btn collapsed">&nbsp;</a><a href="/v3/search/">Search</a></h3>
            <ul class="js-guides">
              <li><a href="/v3/search/#search-issues">Issues</a></li>
              <li><a href="/v3/search/#search-repositories">Repositories</a></li>
              <li><a href="/v3/search/#search-users">Users</a></li>
              <li><a href="/v3/search/#email-search">Email</a></li>
            </ul>
          </li-->
          <!--li class="js-guides"><h3><a href="/v3/gitignore/">Gitignore</a></h3></li>
          <li class="js-guides"><h3><a href="/v3/markdown/">Markdown</a></h3></li-->
        </ul>
      </div> <!-- /sidebar-module -->
      <div class="sidebar-module">
        <p>Сервис GPS-мониторинга находится по адресу: <a href="http://newgps.navi.cc/#/login" target="_blank">Основной</a>. Вы можете внести посильную помощь в разработке, присоединившись к <a href="https://github.com/baden/www.navi.cc" target="_blank">нам на github.</a></p>
      </div>
    </div><!-- /sidebar-shell -->

    </div><!-- #wrapper -->

    <div id="footer" style="display: none;">
      <div class="upper_footer">
        <div class="footer_inner clearfix">

        <!--[if IE]><h4 id="blacktocat_ie">GitHub Links</h4><![endif]-->
        <![if !IE]><h4 id="blacktocat">GitHub Links</h4><![endif]>

        <ul class="footer_nav">
          <h4>GitHub</h4>
          <li><a href="https://github.com/about">About</a></li>
          <li><a href="https://github.com/blog">Blog</a></li>
          <li><a href="https://github.com/features">Features</a></li>
          <li><a href="https://github.com/contact">Contact &amp; Support</a></li>
          <li><a href="https://github.com/training">Training</a></li>
          <li><a href="http://status.github.com/">Site Status</a></li>
        </ul>

        <ul class="footer_nav">
          <h4>Tools</h4>
          <li><a href="http://mac.github.com/">GitHub for Mac</a></li>
          <li><a href="http://mobile.github.com/">Issues for iPhone</a></li>
          <li><a href="https://gist.github.com">Gist: Code Snippets</a></li>
          <li><a href="http://enterprise.github.com/">GitHub Enterprise</a></li>
          <li><a href="http://jobs.github.com/">Job Board</a></li>
        </ul>

        <ul class="footer_nav">
          <h4>Extras</h4>
          <li><a href="http://shop.github.com/">GitHub Shop</a></li>
          <li><a href="http://octodex.github.com/">The Octodex</a></li>
        </ul>

        <ul class="footer_nav">
          <h4>Documentation</h4>
          <li><a href="http://help.github.com/">GitHub Help</a></li>
          <li><a href="http://developer.github.com/">Developer API</a></li>
          <li><a href="http://github.github.com/github-flavored-markdown/">GitHub Flavored Markdown</a></li>
          <li><a href="http://pages.github.com/">GitHub Pages</a></li>
        </ul>

        </div><!-- /.site -->
      </div><!-- /.upper_footer -->

      <div class="lower_footer">
        <div class="footer_inner clearfix">
            <div id="legal">
              <!--[if IE]><a class="home_ie" href="http://github.com">Home</a><![endif]-->
              <![if !IE]><a class="home" href="http://github.com">Home</a><![endif]>

              <ul id="legal_links">
                <li><a href="http://help.github.com/terms-of-service/">Terms of Service</a></li>
                <li><a href="http://help.github.com/privacy-policy/">Privacy</a></li>
                <li><a href="http://help.github.com/security/">Security</a></li>
              </ul>

              <p>&copy; <span id="year">year</span> GitHub Inc. All rights reserved.</p>
            </div><!-- /#legal or /#legal_ie-->
        </div><!-- /.site -->
      </div><!-- /.lower_footer -->
    </div><!-- /#footer -->
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4f2038e0cb25bc1b55000003');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
</body>
</html>
